MQTTBROKER=<mqtt broker hostname>
MQTTPORT=<1883 unsecure | 8883 TLS>
MQTTBASE=<MQTT Basepath>
MQTTPARAMETER=
# mount volume with docker command line parameter "-v /etc/ssl/certs:/etc/ssl/certs"
# without quotation and check required TLS version with your mqtt broker
# MQTTPARAMETER=--cafile /etc/ssl/certs/<ca-file> --tls-version tlsv1.1 
